*{
 margin: 0; padding: 0;
 box-sizing: border-box; font-family: 'Maven Pro', sans-serif;
 background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

h1{
 text-align: center; font-size: 1.8rem;
 color: #444; padding: 30px 0; 
}

main{
 width: 90%; height: 550px;
 margin: auto; border: 0px solid black;
 display: flex; justify-content: space-around;
 align-items: center; flex-wrap: wrap;
}

div{
 width: 260px; height: 260px;
 border: 1px solid grey;
 box-shadow: 2px 2px 5px black;
 border-radius: 10px; cursor: pointer;

}

.a{
  background-image: url('file:///C:/Users/jyothi/Downloads/dynamite.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.b{
background-image: url('file:///C:/Users/jyothi/Downloads/wings.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
}

.c{
background-image: url('file:///C:/Users/jyothi/Downloads/fakelove.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
}

.d{
background-image: url('file:///C:/Users/jyothi/Downloads/boywithlove.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
}

.e{
background-image: url('file:///C:/Users/jyothi/Downloads/springday.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
}
.f{
background-image: url('file:///C:/Users/jyothi/Downloads/micdrop.png');
background-size: 100% 100%;
background-repeat: no-repeat;
}
.g{
background-image: url('file:///C:/Users/jyothi/Downloads/on.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
}

.h{
background-image: url('file:///C:/Users/jyothi/Downloads/dna.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
}
